.admin{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 350px;
    background: white;
    box-shadow: 0 0 .5rem .5rem rgba(0, 0, 0, 0.048);
    border-radius: 12px;

}


.login label{
    display: inline-block;
    width: 100px;
    text-align: right;
}

.login input{
    all: unset;
    border: none;
    border-bottom: 1px solid black;
    background: transparent;
    margin-top: 18px;
    transition: .6s;
    border-radius: 4px;
    cursor: pointer;
}

.login input:focus, .login input:hover{
    all: unset;
    background: rgba(0, 0, 0, 0.048);
    border: none;
    margin-top: 18px;
    border-radius: 4px;
}



.buttonlink{
    width: 90%;
    border: none;
    align-self: flex-start;
}
.add_product{
    display: none;
    flex-direction: row;
}
.add_new{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    margin: 12px;
}

.available_stats{
    display: flex;
    margin: 12px;
}

#log_out_button{
    background: black;
    width: 60px;
    font-size: 1rem;
    color: white;
    border: none;
    cursor: pointer;
}

#product_picture{
    border: none;
    width: 60%;
}